<% @body_class="visit-page" %>
<% page_title @visit.country.region %>
<!-- <form id="form_id" action="/visits/" method="patch" enctype="multipart/form-data">
<%= hidden_field_tag :authenticity_token, form_authenticity_token -%> -->


<h2 class="country-show-title"><%= current_user.first_name %>'s Time in <%= @visit.country.region %></h2>


  <%= form_for @visit, :html => {:multipart => true} do |f| %>

<div class="advice-show">
  <h3>Advice</h3>
  <% @visit.comments.each do |comment| %>
    <p><%= comment.comment %></p>
  <% end %>
  <div class="add-fields">
    <div class="field">
      <textarea name="comment" rows="8" cols="40" class="advice-field"></textarea>
    </div>
    <div class="submit-field-area">
      <input type="submit" class="submit-field">
    </div>
  </div>
</div>

<div class="blog-show">
  <h3>Blog</h3>
  <% @visit.blogs.each do |blog| %>
    <a class="blog-site" href="<%= "http://#{blog.site}" %>"><%= blog.site %></a>
  <% end %>
  <div class="add-fields">
    <div class="field">
      <input type="text_field" maxlength="250" name="blog">
    </div>
    <div class="submit-field-area">
      <input type="submit" class="submit-field">
    </div>
  </div>
</div>

<div class="photos-show">
  <h3>Photos</h3>
  <% @visit.photos.each do |photo| %>
    <%= image_tag photo.photo, class: "photo-show" %>
  <% end %>
  <div class="add-fields">
    <div class="field">
      <input type="file" name="photo" class="photo-input">
    </div>
    <div class="submit-field-area">
      <input type="submit" class="submit-field">
    </div>
  </div>
</div>

<% end %>
