<h1>Users</h1>

<%= link_to "New User", new_user_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to ("#{user.first_name} #{user.last_name}"), user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= link_to "Edit", edit_user_path(user) %></td>
        <td><%= button_to "Delete", user, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
