<br>
<br>
<br>

<%= form_for @user, url: signup_path do |f| %>
  <div class="container">
    <form class="form-signup" role="form">
      <h1 class="form-signup-heading text-center">Sign Up for mucklucks</h1>
      <div>
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
      <div>
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
      <div>
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div>
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <br>
      <div>
        <%= f.submit "Sign Up", class:"auth-button btn btn-default" %>
      </div>
    </form>
  </div>
<% end %>

<br>

<h2 class="text-center">Already have an account?
    <%= link_to "Sign In", signin_path %></h2>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
