
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <div class="row">
        <div class="col-lg-4">
          <%= image_tag("Chacos.jpeg", :class => "img-circle",
              :style => "width: 200px; height: 200px;") %>
          <h2>mucklucks</h2>
          <p>Mucklucks was created as a haven for travelers and wanderlusters.
             We believe the best travel knowledge comes from people who have been there.
             Through honest opinions, advice, blogs, pictures, and popular travel sites,
             we hope to make travel research easy, collaborative, and fun.</p>
          <p><a class="btn btn-default" href="#" role="button">More &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag("Bangladesh.jpeg", :class => "img-circle",
              :style => "width: 200px; height: 200px;") %>
          <h2>public map</h2>
          <p>The public map is the ultimate travel asset.  Simply click on a country
             to glean - or donate - travel knowledge to other Muckluck users.</p>
          <p><a class="btn btn-default" href="#" role="button">More &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag("Myanmar.jpeg", :class => "img-circle",
              :style => "width: 200px; height: 200px;") %>
          <h2>private map</h2>
          <p>The private map is ideal for storing travel photos, blogs, and memories.
             Highlight the countries you have been to, with a personal profile of memories
             attached to each.</p>
          <p><a class="btn btn-default" href="#" role="button">More &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

<br>
<br>
<br>
<br>

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Gather your travel memories in one place.
              <span class="index_links"><%= link_to "save", signup_path %></span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla.
              Vestibulum id ligula porta felis euismod semper. Praesent commodo
              cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
              tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag("Myanmar.jpeg", :size => "480x320") %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <%= image_tag("Bangladesh.jpeg", :size => "480x320") %>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Donate your travel knowledge.
              <span class="index_links"><%= link_to "share", signup_path %></span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla.
              Vestibulum id ligula porta felis euismod semper. Praesent commodo
              cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
              tellus ac cursus commodo.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Gather advice from other globe-trotters.
              <span class="index_links"><%= link_to "learn", signup_path %></span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla.
              Vestibulum id ligula porta felis euismod semper. Praesent commodo
              cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
              tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag("Thailand.jpeg", :size => "480x320") %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <%= image_tag("Chacos.jpeg", :size => "480x320") %>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Use your knowledge in the world.
              <span class="index_links"><%= link_to "explore", signup_path %></span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla.
              Vestibulum id ligula porta felis euismod semper. Praesent commodo
              cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
              tellus ac cursus commodo.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
