<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <%= stylesheet_link_tag 'application' %>
    <title>Mucklucks</title>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", "#" %></li>
          </ul>
          <div class="navbar-center navbar-brand" href="#">
              <a class="navbar-brand"><font color="orange", size="20em">mucklucks</font></a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Sign In", signin_path %></li>
            <li><%= link_to "Sign Up", signup_path %></li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <footer class="pull-right">
        <%= link_to "https://www.linkedin.com/in/laurahasemeyer/" do %>
          <% image_tag("LinkedIn.png", width: "40em") %>
        <% end %>
        <%= link_to "https://github.com/lbhasemeyer" do %>
          <% image_tag("GitHub.png", width: "40em") %>
        <% end %>
        <%= link_to "https://twitter.com/lkbhas" do %>
          <% image_tag("Twitter.png", width: "40em") %>
        <% end %>
    </footer>
  </div>

    <!-- Bootstrap core JavaScript.  Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
