<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <%= stylesheet_link_tag 'application' %>
    <title>Mucklucks</title>
  </head>

  <body class="<%= @body_class %>">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <ul class="nav navbar-nav navbar-left">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
              <li><%= link_to "Users", users_path %>
            </ul>
          </div>
          <div class="col-md-4 col-sm-2 col-xs-1">
            <%= link_to "mucklucks", root_path, class:"navbar-brand mucklucks-logo" %>
          </div>
          <div class="col-md-4">
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
                <li><%= link_to "Public Map", public_maps_path %>
                <li><%= link_to "Private Map", private_maps_path %>
                <li><%= link_to "Sign Out", signout_path %></li>
              <% else %>
                <li><%= link_to "Sign In", signin_path %></li>
                <li><%= link_to "Sign Up", signup_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <% if notice %>
        <div class="alert alert-info text-center" role= "alert">
            <strong><%= notice %></strong>
        </div>
      <% end %>

    <%= yield %>

    <footer class="col-sm-offset-4 footer">
      <div class="">
          <%= link_to "https://www.linkedin.com/in/laurahasemeyer/" do %>
            <% image_tag("LinkedIn.png", width: "40") %>
          <% end %>
          <%= link_to "https://github.com/lbhasemeyer" do %>
            <% image_tag("GitHub.png", width: "40") %>
          <% end %>
          <%= link_to "https://twitter.com/lkbhas" do %>
            <% image_tag("Twitter.png", width: "40") %>
          <% end %>
        <div class="copywright">
          © 2014 Laura Hasemeyer. All Rights Reserved.
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript.  Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>

</html>
